.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #6d93fa;
    color: white;
  }
  
  .navbar-links a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }